{{ partial "head.html" . }}
    <body>
       {{ partial "nav.html" . }}

        <section class="post container">
            <article>
                <header>
                    <h1 class="margin-none">
                        {{ .Title }}
                    </h1>
                    <h6 class="article-meta margin-top-none">
                    {{ .Date.Format "Jan 2, 2006 15:04" }}
                    · {{ if lt 1 .WordCount }}{{ .WordCount }} words{{ else }}{{ .WordCount }} word{{ end }}
                    · {{ .ReadingTime }} minute read
                      <span class="tags">
                      {{ with .Params.tags }}
                      {{ if ge (len .) 1 }}
                          {{ range . }}
                              <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize }}">{{ . }}</a>
                          {{ end }}
                      {{ end }}
                      {{ end}}
                      </span>
                    </h6>
                </header>
                {{ if .Site.Params.enableToc }}
                  {{ if .TableOfContents }}
                    <div id="toc">
                      {{ .TableOfContents }}
                    </div>
                  {{ end }}
                {{ end }}
                <section id="post-body">
                    {{ .Content }}
                </section>
            </article>

            {{ if .Params.enableShare }}
                {{ partial "share.html" . }}
            {{ end }}

            {{ if .Params.enableDisqus }}
                {{ partial "disqus.html" . }}
            {{ end }}

            {{ if .Site.Params.showLatestPosts }}
                {{ partial "latest-posts.html" . }}
            {{ end }}

            {{ partial "footer.html" . }}
        </section>

        {{ partial "js.html" . }}
    </body>
</html>
